.list {
  min-height: 200px;
}
.list .featured__item {
  background-color: #fff;
}

/* DESKTOP SCREEN =========================== */

@media screen and (min-width: 720px) {
  .list {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem;
    flex-wrap: wrap;
  }
  .products {
    margin: 2rem;
    /* margin-left: 0; */
  }
}
