.form {
  display: flex;
}
.form input {
  width: 11rem;
  outline: none;
  padding-left: 0.5rem;
}
.form button {
  background-color: rgba(0, 0, 0, 100%);
  font-size: 0.5rem;
  color: white;
  width: 100%;
  padding: 0 0.5rem;
}

@media screen and (min-width: 720px) {
  .form input {
    height: 2.5rem;
    font-size: 1rem;
    width: 100%;
  }
  .form button {
    font-size: 0.6rem;
    width: 40%;
  }
}
