@media screen and (min-width: 720px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .list .p_list {
    width: 42%;
    height: 420px;

    display: flex;
    align-items: center;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 3.375rem */
    text-transform: capitalize;
  }
}
