/* SECTION 1 ====================================================================== */
.section1 {
  background-color: rgba(201, 171, 150, 67%);
  min-height: 50vh;
  padding-top: 2rem 0;
  padding-bottom: 2rem;

  text-align: center;
}

.products {
  margin: 2rem;
  background-color: red;
}

.section1 h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.btn {
  background-color: rgba(240, 236, 236, 100%);
  border-radius: 0%;
  width: 10rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}

.vidNextIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.vidNextIcons div {
  color: white;
  height: 2px;
  width: 10px;
  margin: 0.2rem;
}

/* .section__products ============================================================================== {
  padding: 2rem;
} */

.section__products h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* SECTION TESTIMONIALS =============================================================================== */

.section__testimonials {
  width: 100%;
  background-color: rgba(122, 203, 206, 100%);
  padding: 3rem 2rem;
}

.testimonial__container {
  padding: 2rem;
  padding-top: 1rem;
  background-color: white;
}

.testimonial__container h2 {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.testimonial__container h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.testimonial__container p {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.testimonial__container .readStory {
  width: 100%;
  /* border: 1px solid grey; */
  box-shadow: 0px 4px 40px 0px rgba(201, 171, 150, 0.67);
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.story .commentBox {
  background-color: rgba(201, 171, 150, 67%);
  padding: 0.5rem 0.8rem 1rem 0.5rem;
  margin: 0.3rem 0;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.commentBox p {
  font-size: 0.7rem;
  font-weight: 400;
}

.story .author__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author__details .name {
  font-weight: bold;
  font-size: 0.8rem;
}
.author__details .country {
  font-size: 0.8rem;
}

.testimonial__container .nextIcons {
  display: flex;
  justify-content: flex-end;
}

.nextIcons .leftArrow {
  margin-right: 0.5rem;
}

/* SECTION CONTACT ============================================================================= */
.section__contact {
  padding: 4rem;
  padding-top: 2rem;
}

.section__contact h3 {
  font-weight: 600;
}

.section__contact .couple {
  color: rgba(122, 202, 206, 100%);
}

.section__contact .memoir {
  color: rgba(255, 139, 2, 100%);
}

/* SECTION NEWSLETTER =============================================== */
.section__newsLetter {
  background-color: rgba(122, 203, 206, 100%);
  text-align: center;
  padding: 2rem;
}

.section__newsLetter h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Desktop screen ============================================= */
@media screen and (min-width: 720px) {
  .section1 {
    width: 100%;
    height: 45rem;
    flex-shrink: 0;
    padding: 2rem 10rem;
  }
  .section1 .video__container {
    display: flex;
    justify-content: center;
  }
  .section1 .video__player {
    width: 50%;
  }

  .section1 h2 {
    color: #000;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }

  .section__products h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin-top: 3rem;
  }

  .section__testimonials {
    padding: 4rem 3rem;
  }
  .testimonial__container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 4rem;
  }
  .testimonial__container h2 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }

  .testimonial__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .testimonial__wrapper .box1 {
    width: 40%;
  }
  .testimonial__wrapper .box2 {
    width: 50%;
    /* background-color: red; */
    height: 300px;
  }
  .testimonial__wrapper .box1 {
    padding-left: 2.5rem;
  }
  .box1 h3 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .box1 p {
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */
    text-transform: capitalize;
  }
  .box1 .readStory {
    cursor: pointer;
  }
  .box2 .storyImage {
    width: 100px;
  }
  .story .comment {
    height: 80px;
  }
  .story .commentBox {
    padding-right: 1.8rem;
  }
  .commentBox .comment {
    font-size: 1rem;
  }

  .section__contact {
    width: 52%;
    margin: 0 auto;
    padding: 4rem 8rem;
    font-size: 3rem;
  }
  .section__contact h3 {
    font-size: 2rem;
  }

  .section__newsLetter {
    padding: 4rem 30rem;
  }
}
